---
import { Button } from "@/components/ui/button";
import MainLayout from "@/layouts/main.astro";
---

<MainLayout title="ピアノレッスンサイト">
  <div class="grid place-items-center h-screen content-center">
    <Button>Test</Button>
    <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
  </div>
</MainLayout>
